<html>
<head>
	<title>Eugene Wang</title>
	<link rel="stylesheet" href="{{ STATIC_URL }}home.css">
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.4.1-vsdoc.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}home.js"></script>
<body>
	<div class="header">
		<div class="name">Eugene Wang</div>
		<div id="page_link"><a href="http://127.0.0.1:8000/contact/">contact</a></div>
		<div id="page_link"><a href="http://127.0.0.1:8000/data_blog/">data blog</a></div>
		<div id="page_link"><a href="http://127.0.0.1:8000/weblog/">weblog</a></div>
		<div id="page_link"><a href="http://127.0.0.1:8000/portfolio/">portfolio</a></div>
		<div id="page_link"><a href="http://127.0.0.1:8000/about/">about</a></div>
		<div id="search"><form><input type="text"><input type="submit" value="Search"></form></div>
	</div>
	<div class="tagline">
		<p>"Not all who wander are lost" - J.R. Tolkein</p>
	</div>
	<div class="sidebar">
		<p>This is my Twitter feed</p>
	</div>
	<div class="projects">
		<p>These are my projects</p>
	</div>
	<div class="resume">
		<p>This is my resume</p>
	</div>
	<div class="footer">
		<p>This is my footer with links to Facebook, Github, etc.</p>
	</div>
</body>
</html>
